TELEGRAM_BOT_TOKEN=

TRACKER_DB_NAME=change_detection
TRACKER_DB_USER=change_detection
TRACKER_DB_PASSWORD=
TRACKER_DB_HOST=localhost
TRACKER_DB_PORT=5432
TRACKER_DB_POOL_SIZE=10

BOT_REDIS_HOST=localhost
BOT_REDIS_PORT=6379
BOT_REDIS_PASSWORD=
BOT_REDIS_DATABASE=0
BOT_REDIS_TTL_SECONDS=300

