TRACKER_ID=StackOverflowTracker
TRACKER_INSTANCE_ID=StackOverflowTrackerLocal
TRACKER_RESOURCE_PROVIDER=STACKOVERFLOW
TRACKER_BASE_URL=http://localhost:8092
TRACKER_SUPPORTED_HOSTS=stackoverflow.com
SYSTEM_BASE_URL=http://localhost:8080
TRACKER_HTTP_PORT=8092
TRACKER_MANAGEMENT_PORT=9092

POSTGRES_DB=stackoverflow_tracker
POSTGRES_USER=stackoverflow_tracker
POSTGRES_PASSWORD=
STACKOVERFLOW_TRACKER_DB_HOST=localhost
STACKOVERFLOW_TRACKER_DB_PORT=5436
STACKOVERFLOW_TRACKER_DB_NAME=stackoverflow_tracker
STACKOVERFLOW_TRACKER_DB_USER=stackoverflow_tracker
STACKOVERFLOW_TRACKER_DB_PASSWORD=
STACKOVERFLOW_TRACKER_DB_POOL_SIZE=10

