VK_BOT_TOKEN=
BOT_ID=UpdateTrackingSystemBot
BOT_INSTANCE_ID=UpdateTrackingSystemBotLocal
BOT_COMMUNICATION_CHANNEL=VK
BOT_BASE_URL=http://localhost:8082
SYSTEM_BASE_URL=http://localhost:8080
BOT_HTTP_PORT=8082
BOT_MANAGEMENT_PORT=9082

POSTGRES_DB=update_tracking_system_bot
POSTGRES_USER=update_tracking_system_bot
POSTGRES_PASSWORD=
BOT_USER_DB_HOST=localhost
BOT_USER_DB_PORT=5434
BOT_USER_DB_NAME=update_tracking_system_bot
BOT_USER_DB_USER=update_tracking_system_bot
BOT_USER_DB_PASSWORD=
BOT_USER_DB_POOL_SIZE=10

REDIS_PASSWORD=
BOT_REDIS_HOST=localhost
BOT_REDIS_PORT=6380
BOT_REDIS_PASSWORD=
BOT_REDIS_DATABASE=0
BOT_REDIS_TTL_SECONDS=300

