TRACKER_ID=GitHubTracker
TRACKER_INSTANCE_ID=GitHubTrackerLocal
TRACKER_RESOURCE_PROVIDER=GITHUB
TRACKER_BASE_URL=http://localhost:8091
TRACKER_SUPPORTED_HOSTS=github.com
SYSTEM_BASE_URL=http://localhost:8080
TRACKER_HTTP_PORT=8091
TRACKER_MANAGEMENT_PORT=9091

POSTGRES_DB=github_tracker
POSTGRES_USER=github_tracker
POSTGRES_PASSWORD=
GITHUB_TRACKER_DB_HOST=localhost
GITHUB_TRACKER_DB_PORT=5435
GITHUB_TRACKER_DB_NAME=github_tracker
GITHUB_TRACKER_DB_USER=github_tracker
GITHUB_TRACKER_DB_PASSWORD=
GITHUB_TRACKER_DB_POOL_SIZE=10

